<style>
.salmon {
    color: darksalmon;
    font-size: 20px;
    font-style : italic;
    font-family: 'Anton', sans-serif;
    font-weight : bold;
}

.kt {
    color :darkviolet;
    font-size: 45px;
    font-style :oblique;
    font-weight :unset;
}
h1{
    color: #FFFFFF;
}

</style>